.terraform/
.ssh/
.build/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
!*.tfvars.example

.env
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/

node_modules/
dist/
.DS_Store
